<nav>
    <h1>
        <a href="/">Game-Inventory</a>
    </h1>
    <div>
        <button><a href="/game/create">Add Game</a></button>
        <button><a href="/genre/create">Add Genre</a></button>
        <button><a href="/developer/create">Add Developer</a></button>
    </div>
</nav>